.erreur{
    text-align: center;
    padding-bottom: 50px;
}
.erreur-404{
    color: #FF6060;
    font-size: 180px;
    font-weight: 700;
    margin: 50px;
}
.erreur-text{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #FF6060;
}
.erreur-link{
    text-decoration: underline;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-underline-offset: 5px;
   
}