.rental-display {
    max-width: 1250px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;
}

.rental-content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.rental-informations {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.rental-title {
    color: #ff6060;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0;
}

.rental-location {
    color: #ff6060;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    margin-top: 0;
}

.rental-rating-host {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.rental-tags {
    display: flex;
    flex-wrap: wrap;
}

.rental-ratings {
    display: flex;
    justify-content: flex-end;
    gap: 3.5px;
}

.rental-description-equipments {
    gap: 0 50px;
    display: flex;
    line-height: 22.5px;
}

.collapse {
    font-family: Montserrat;
    border-radius: 5px;
    margin: 30px 0 0 0;
    text-align: left;
    width: 100%;

}


.rental-equipments>.dropdown {
    width: 50%;
}

.grey {
    color: rgba(227, 227, 227, 1);
    font-size: 30px;
}

.red {
    color: rgba(255, 96, 96, 1);
    font-size: 30px;
}

ol {
    padding: 0;
}


@media (min-width: 320px) and (max-width: 768px) {
    .rental-title {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        letter-spacing: 0em;
    }

    .rental-location {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        margin: 0;
        letter-spacing: 0;
    }

    .rental-tags {
        margin-top: 16px;
        width: 100%;
        gap: 8px;
    }

    .rental-content {
        flex-direction: column;
        height: auto;
    }

    .rental-equipments>.dropdown {
        width: 100%;
    }

    .rental-informations {
        width: 100%;
    }
    .rental-description-equipments{ 
        display: block;
    }

    .rental-rating-host {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        margin-top: 20px;
    }

    .rental-ratings>img {
        height: 15px;
        width: 15px;
    }

    .rental-ratings {
        display: flex;
        justify-content: flex-start;
    }

    .red {
        font-size: 15px;
    }

    .grey {
        font-size: 15px;
    }
}