.card {
  width: 100%;
  height: 340px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px; 
}


.card-img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: inherit; 
}

.card-title {
  position: absolute;
  bottom: 0;
  margin: 15px 20px;
  box-sizing: inherit;
  color: white;
  text-decoration: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    
}