/* DESKTOP */

.drop-apropos{
    margin: 50px 180px 0px 180px;
}

.collapse {
    font-family: Montserrat;
    border-radius: 5px;
    margin-top: 31px;
    text-align: left;
   
}

.collapse-content {
    align-items: center;
    background-color: #ff6060;
    border-radius: 5px;
    height: 25%;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.collapse-titre {
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin: 5px 10px;
    font-size: 24px;
}

.collapse-arrow {
    display: flex;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.collapse-arrow.true {
    justify-content: start;
    transform: rotateX(-180deg);
}

.collapse-description {
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    color: #ff6060;
    height: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    list-style-type: none;
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 768px) {
    .drop-apropos{
        margin: 20px 20px 0px 20px;
    }

    .collapse {
        font-family: Montserrat;
        border-radius: 5px;
        margin-top: 31px;
        text-align: left;
    }

    .collapse-content {
        height: 29.93px;
    }

    .collapse-titre {
        font-size: 13px;
    }

    .collapse-description {
        background-color: #f6f6f6;
        border-radius: 0 0 5px 5px;
        color: #ff6060;
        height: auto;
        margin-top: -10px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        padding: 24px 14px 24px 14px;
        list-style-type: none;
    }
}