@import "./variable.scss";
.collapse {
    border-radius: 10px;
    margin-top: 31px;
    text-align: left;
    &__content {
        align-items: center;
        background-color: $primary-color;
        height: 25%;
        min-height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        transition: all 2s ease-out;
        @media (max-width: 768px) {
            height: 29.93px;
        }
        &__titre {
            color: $color-white; 
            margin: 5px 10px; 
            padding: 10px 0px;
            @include text-drop-title;
            &__arrow {
                display: flex;
                margin-right: 20px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &.true {
                    justify-content: start;
                    transform: rotateX(-180deg);
                    
                }
            }
        }
    }
    &__description {
        background-color: $secondary-color;
        border-radius: 0 0 5px 5px;
        color: $primary-color;
        height: 0; 
        padding: 20px;
        list-style-type: none;
        transition: height 0.5s;
        @include text-drop-decription;
        @media (max-width: 768px) {
            margin-top: -10px;
            padding: 24px 14px 24px 14px;
        }
        &.true {
            height: auto; 
        }
    }
}

.drop-apropos{
    margin: 50px 180px 0px 180px;
    @media (max-width: 768px) {
        margin: 20px 20px 0px 20px;
    }
}