@import "./variable.scss";

.header{
    padding: 45px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        padding: 45px 20px; 
    }
    &__logo{
        height: 68px;
        @media (max-width: 768px) {
            height: 36px;
        }
    }
    &__link {
        margin-left: 40px;
        text-decoration: none;
        color: $color-black;
        @include text-nav;
        @media (max-width: 768px) {
            margin-left: 20px;
        }
        &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;
        }
    }
    &__active--link {
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}