@import "./variable.scss";
.cardWrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 50px 50px 0px 50px;
    margin: 0px 100px 50px 100px;
    background-color: $secondary-color;
    border-radius: 25px;
}

.cardLogement{
    width: 340px;
    height: 340px;
    bottom: 0;
    color: $color-white;
    font-size: 15px;
    font-weight:700;
    text-decoration: none;
    padding-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .cardWrapper{
    justify-content: space-between;
    padding: 0px;
    margin: 0px 20px 0px 20px;
    background-color: $color-white;
}

.cardLogement{
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}
}