/* DESKTOP */

.tag-city {
    background-color: #ff6060;
    border-radius: 10px;
    color: white;
    padding: 3px 10px;
    margin-right: 10px;
    min-width: 50px;
}

.tag-city-text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    text-align: center;
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 768px) {
    .tag-city-text {
        font-size: 10px;
        justify-content: center;
        display: flex;
    }

    .tag-city {
        position: relative;
        height: 28px;
        width: 87px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}