@import "./variable.scss";

.tag__ville {
    background-color: $primary-color;
    border-radius: 10px;
    color: $color-white;
    padding: 3px 10px;
    margin-right: 10px;
    min-width: 50px;
    @media (max-width: 768px) {
        position: relative;
        height: 28px;
        width: 87px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__texte {
        margin: 0;
        text-align: center;
        @include text-appartement-tag;
        @media (max-width: 768px) {
            justify-content: center;
            display: flex;
        }
    }
}